.wrapper {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    position: relative;
    top: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.table {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 1502.55px;
    height: 450px;
    background: rgba(0, 0, 0, 0.384);
    margin-top: 100px;
    color: #ECECEC;
}
.tHeader {
    border: none;
    margin: 0;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-color: #1F2633;
}

.mappedTr {
  border-bottom: 1px solid white;

}

.loadMore {
    margin: 70px 0 0 0;
}