.wrapper {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    position: relative;
    top: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.table {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 1502.55px;
    height: 450px;
    margin-top: 100px;
    color: #ECECEC;
}
.tableHeader {
    display: flex;
    border: none;
    margin: 0;
    border-radius: 20px 20px 0px 0px;
    background-color: #1F2633;
    justify-content: space-around;
}

.tableBody {
    background: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
}

.logo {
    margin-right: 8.48px;
    margin-left: -15px;
}

.mappedTr {
  border-bottom: 1.00414px solid #3B3D50;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mappedTr:last-child {
    border-bottom: none;
}

.button {
    margin: 70px 0 0 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}