.wrapper {
    background: #1E2633;
    padding-top: 20px;
    margin: 20px 0 0 0;
}


.subWrapper {
    display: flex;
    flex-direction: row;
}
.texts {
    display: flex;
    flex-direction: column;
    margin: 170.73px 0 0 215px;
    max-width: 600px;

}
.texts > h3 { 
    font-weight: 700;
    font-size: 50.27px;
    margin: 0;
}
.texts > p {
    font-weight: 700;
    font-size: 18px;
}
.texts > button {
    font-weight: 400;
    font-size: 18px;
    }
.email {
    background-color: #312F4E;
    height: 208.04px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
}
.email > h4 {
    font-weight: 600;
    font-size: 32px;
    max-width: 620px;
}
.email > input, .email > input:focus {
    background: #DCCDFF;
    border-radius: 10px;
    width: 487px;
    height: 60px;
    margin-right: 29px;
    color: #805AD5;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 0 34px
}

.email > input::placeholder {
    color: #805AD5;
    font-weight: 700;
    font-size: 16px;
}

.email > button {
    height: 60px;
    font-weight: 400;
    font-size: 18px;
}