.wrap {
    width: 292.49px;
    height: 298.18px;
    background: #1C2430;   
    border-radius: 21.6237px; 

    /* display: flex;
    align-items: center; */
    /* justify-content: space-around */
    
}