.wrap {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 80px;
    z-index: 1;
    background: #212834;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.14);
}

.menu {
    display: none;
}

.logo {
    position: relative;
    left: 11.74%;
    right: 80.5%;
    width: 162.49px;
    height: 44.45px;
    top: 18px;
}

.navs {
    transition: .2s;
    position: absolute;
    left: 29.43%;
    right: 67.66%;
    top: 35%;
    font-weight: 800;
    font-size: 18px;
}
.navs a:hover {
    transition: .2s;
    color: rgb(190, 190, 190)
}

.navs a {
    margin-right: 40px;
    text-decoration: none;
    color: white;
}

.signIn {
    position: absolute;
    left: 69.29%;
    right: 27.43%;
    top: 25px;
    bottom: 99.58%;
    width: 100%;
    font-weight: 800;
    font-size: 18px;
    color: #A588E7;
    text-decoration: none;
}

.button {
    position: absolute;
    left: 74.69%;
    right: 14.53%;
    top: 14px;
    bottom: 99.49%;
    background: #805AD5;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.menuOpen {
    display: none;
}

@media (max-width: 768px) {
    .wrap {
        height: 70px;
    }
    .logo {
        left: 42.38%;
    }
    .navs, .signIn, .button {
        display: none;
    }
    .menu {
        position: absolute;
        display: flex;
        top: 24px;
        left: 27px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        height: 20px;
        width: 25px;
        align-items: center;
        justify-content: center;
    }
    .menu_hamburger {
        height: 3px;
        width: 25px;
        background-color: #A588E7;
        transition: all .5s ease-in-out;
    }
    .menu_hamburger::after,.menu_hamburger::before {
        position: absolute;
        content: '';
        width: 25px;
        height: 3px;
        background-color: #A588E7;
        transition: all .5s ease-in-out;
    }
    .menu_hamburger::before {
        transform: translateY(-8.33px);
    }
    .menu_hamburger::after {
        transform: translateY(8.33px);
    }
    .open .menu_hamburger {
        transform: translateX(-1px);
        background-color: transparent;
    }
    .open .menu_hamburger::before {
        transform: rotate(45deg)
    }
    .open .menu_hamburger::after {
        transform: rotate(-45deg) 
    }
    .menuOpen {
        background:#00000075;
        height: calc(100vh - 70px);
        width: 100vw;
        display: flex;
        position: relative;
        top: 22px;
        flex: none;
    }
     .navs {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
