.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subwrap {
    margin-left: 215px;
}

.poweredBy {
    display: flex;
    margin-top: 124px;
}
.PBtext {
    display: flex;
    flex-direction:column;
    /* width: 718px; */
    margin-right: 68.35px;
    height: 254px;
}

.robotIMG {
    margin-top: 23px;
    margin-right: 211px;
}

.h3PB {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    margin: 0;
}
.paragraphText {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #8085B1;
    text-align: justify;
    margin: 25px 0 28px 0;
}

.pPB1 {
    margin: 0;
    width: 718px;
}
.pPB2 {
    margin: 0;
    margin-top: 20px;
    width: 718px;
}




.animationalPartDiv {
    display: flex;
    margin-top: 211px;
    flex-direction: column;
}
.aniWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 189px;
}

.cashflow {
    width: 100%;
    height: 191px;
    background: #1F2736;
    display: flex;
    justify-content: space-evenly;
    color: #B597FF;
}

.cf {
    text-align: center;
}

.cf > h5 {
    margin: 0;
    margin-top: 26px;
    font-weight: 900;
    font-size: 72px;
    line-height: 108px;
}
.cf > p {
    text-align: right;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin-right: 22px;
}

.cfP {
    text-align: center;
    margin-right: 0px !important;
}

.manageCrypto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mcTitle {
    font-weight: 700;
    font-size: 50.2703px;
    line-height: 83px;
    width: 650px;
    text-align: center;
    color: #F7F4FF;
    margin: 0;
    margin-top: 101px;
}

.mcText {
    font-style: normal;
    font-weight: 500;
    font-size: 18.0742px;
    width: 600px;
    text-align: center;
    margin-bottom: 116px;
}

.cards {
    margin: 0;
    display: flex; 
    justify-content: space-evenly;
}

.card {
    display: flex;
    background: #212834;   
    margin-right: 20px;
    width: 282.33px;
    height: 145.32px;
    justify-content: center;
    align-items: center;
    border: 1.38396px solid #686868;
    border-radius: 6.12444px;
    transition: ease-in-out .2s;
}
.card:hover {
    cursor: pointer;
    border: 1.4792px solid #805AD5;
    border-radius: 6.5459px;
    transition: ease-in-out .2s;
    transform: translateY(-10px);
}

.logoIMG {
    width: 68px;
    height: 68px;
    margin-right: 32.14px;
}

.card:last-child {
    margin-right: 0;
}

.bitCards {
    display: flex;
    flex-direction: column;
}

.bitCards > h5 {
    margin: 36px 0 0 0;
    font-weight: 600;
    font-size: 22.1434px;
    line-height: 148%;
}

.bitCards > p {
    font-weight: 600;
    font-size: 17.7504px;
    line-height: 148%;
    margin-top: 15px;
}

.bitCards > p > img {
    margin-left: 5.22px;
}

.or {
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    margin-top: 22.68px;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.trial {
    margin-top: 34.1px;
    font-weight: 500;
    font-size: 18.0742px;
    line-height: 29px;
    margin-bottom: 61.1px;
}